@charset "utf-8";
/* CSS Document */

html,body{height:100%;width:100%;margin:0;padding:0;}
#change_password,#cover{position:absolute;height:100%;width:100%;min-width:1000px;min-height:600px;z-index:2;top:0;left:0;}
.cover_img{height:100%;width:100%;position:fixed;top:0;left:0;z-index:-1;}
.cover_header{height:300px;width:900px;position:relative;z-index:3;top:150px;left:50%;margin-left:-450px;}
.cover_header span{color:white;width:900px;text-align:center;font-size:130px;display:block;letter-spacing:20px;font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;opacity:0.8;}
.cover_line_a{width:655px;height:2px;background-color:#f0f0f0;margin-left:122.5px;margin-top:20px;opacity:0.5;}
.cover_header_img{position:absolute;top:70px;left:352px;height:75px;width:75px;}
#change_main,#cover_main{width:500px;height:400px;z-index:3;top:150px;left:50%;margin-left:-250px;position:relative;}
#input_password,#username{width:335px;height:40px;line-height:40px;margin-left:82.5px;text-shadow: 0 1px 2px rgba(0,0,0,.1);box-shadow: 0 1px 2px 1px rgba(0,0,0,1) inset;resize:none;overflow:auto;background-color:#526283;color:white;border-radius:5px;font-size:18px;background:transparent;border-style:none;outline:none;font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;padding-left:10px;}
#input_password_sec,#password{width:335px;height:40px;line-height:40px;margin-left:82.5px;text-shadow: 0 1px 2px rgba(0,0,0,.1);box-shadow: 0 1px 2px 1px rgba(0,0,0,1) inset;resize:none;overflow:auto;background-color:#526283;color:white;border-radius:5px;font-size:18px;background:transparent;border-style:none;outline:none;margin-top:50px;font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;padding-left:10px;}
#change_out,#change_btn,#cover_sign{border-style:none;width:345px;height:40px;margin-left:82.5px;box-shadow:0px 0px 10px #666;text-shadow: 0 1px 2px rgba(0,0,0,.1);background-color:#69B6BC;margin-top:50px;color:white;text-align:center;line-height:40px;border-radius:5px;font-family:'微软雅黑', Palatino, serif;resize:none;outline:none;cursor:pointer;}



#manage_sign{border-style:none;width:145px;height:40px;margin-right:82.5px;margin-top:50px;float:right;color:#C9CED3;text-align:center;line-height:40px;border-radius:5px;font-family:'微软雅黑', Palatino, serif;resize:none;outline:none;cursor:pointer;background:rgba(68,103,157,0.5);box-shadow:0px 0px 10px #245298;}




#change_btn{width:150px;float:left;}
#change_out{width:150px;float:left;margin-left:45px;}
#change_password{display:none;}

#cover{display:block;}


input:-moz-placeholder { color: #fff;font-size:15px;letter-spacing:2px;word-spacing:2px;font-family:'微软雅黑', Palatino, serif; }
input:-ms-input-placeholder { color: #fff;font-size:15px; letter-spacing:2px;word-spacing:2px;font-family:'微软雅黑', Palatino, serif;}
input::-webkit-input-placeholder { color: #fff;font-size:15px;letter-spacing:2px;word-spacing:2px; font-family:'微软雅黑', Palatino, serif;}

#change_out:active,#change_btn:active,#cover_sign:active,#cover_out:active{
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
}

