@charset "utf-8";
/* CSS Document */
a{text-decoration:none;}
li{list-style-type:none;}



html,body{width:100%;height:100%;padding:0;margin:0;font-family:'微软雅黑', Geneva, sans-serif}
#bcg{width:100%;height:100%;position:absolute;top:-10px;z-index:-1;}
#main{width:80%;height:90%;box-shadow:0px 0px 100px #aaaaaa;margin:0 auto;margin-top:50px;border:1px solid #ccc;border-radius:5px;position:relative;min-width:1000px;min-height:600px;}




#announce{height:75%;width:45%;float:left;overflow:hidden;border-right:0px solid black;position:relative;}
#announce img{margin-left:10.3%;margin-top:5px;float:left;height:15%;width:80%;}
#ann_main{width:80%;height:73.5%;position:absolute;top:24.1%;left:10.3%;;font-size:18px;line-height:25px;letter-spacing:1px;}
.ann_header{position:absolute;top:20%;width:100%;font-size:18px;word-spacing:10px;height:15%;line-height:15%;text-align:center;}
#ann_body{border-left:1px solid black;height:100%;width:80%;;margin:0 auto;margin-top:50px;}
#say{height:75%;width:55%;float:left;background-color:#f0f0f0;position:relative;overflow:hidden;}
#say img{height:80%;width:12%;float:right;margin-right:10px;margin-top:5px;}
.say_header{position:absolute;top:93%;width:100%;font-size:18px;word-spacing:10px;height:15%;line-height:15%;text-align:center;}
#register{height:25%;width:100%;float:left;background-color:#333;position:relative;}
#reg_day{padding:0;margin:0;width:100%;height:40%;top:33.5%;position:absolute;}
#reg_day li{list-style-type:none;float:left;text-align:center;font-size:18px;background-color:#E3E0D9;height:100%;width:6.6%;margin-left:6.7%;border-radius:30px;display:table;background-color:#ccc;}
#reg_day li.reg_in{background-color:#A4C344;}
#reg_day li span{display:table-cell;vertical-align:middle;color:white;}
.reg_in{background-color:red;}



#message{width:75%;height:87%;margin-left:5%;float:left;}
.list{padding:0;margin:0;height:91%;width:100%;position:relative;overflow-y:auto;}
.list ul{padding:0;margin:0;height:100%;width:100%;position:absolute;}
.list ul li{background-color:#E1E1E1;margin-top:7px;}
.content div.username{color:black;display:inline;font-size:15px;}
.content div.username a{color:black;}
.content div.messinf{color:black;letter-spacing:1px;display:inline;font-size:15px;}
.content div.times{color:#ccc;overflow:hidden;margin-top:3px;font-size:15px;}
.sentmess{height:8%;width:100%;}
.sentmess div{float:left;}
.a{height:80%;width:75%;margin-top:10px;}
.b{width:20%;height:100%;margin-top:10px;}
#conbox{resize:none;overflow:auto;height:30px;width:100%;line-height:30px;font-size:15px;border-radius:5px;}
#sentbut{border:0;width:100%;height:35px;cursor:pointer;background-color:#ccc;border-radius:5px;color:black;
;margin-left:30%;font-family:'微软雅黑';}
