@charset "utf-8";
/* CSS Document */

li{list-style-type:none;}

html,body{width:100%;height:100%;margin:0;padding:0;}
#warp_sign{background-image:url(http://pic.yupoo.com/qzone3611653917/ETtiTt1R/7bJEj.png);width:100%;height:100%;width:100%;height:100%;margin:0;padding:0;position:absolute;top:0;left:0;z-index:10;display:none
;}
#sign{height:400px;width:400px;position:relative;top:60px;background-color:white;left:50%;margin-left:-200px;}
#sign_top{width:400px;height:80px;background-color:#ACC337;}
#sign_top ul{padding:0;margin:0;}
#sign_top ul li{width:199px;height:80px;text-align:center;line-height:80px;float:left;color:#f0f0f0;
cursor:pointer;font-weight:bold;letter-spacing:2px;}
#sign_top ul img{float:right;}
#line_b{height:40px;width:1px;float:left;margin-top:30px;background-color:white;}
#sign_bottom{height:400px;width:400px;}
#username,#password{height:34px;width:280px;resize:none;overflow:auto;margin-left:50px;margin-top:50px;line-height:34px;
letter-spacing:5px;color:#ACC337;padding-left:20px;font-weight:bold;}
#sign_btn{resize:none;cursor:pointer;border:none;width:80px;height:35px;color:white;background-color:#ACC337;border-radius:5px;font-weight:bold;text-align:center;line-height:35px;margin-top:50px;margin-left:50px;}
#sign_off{position:absolute;top:0;right:0;}